<launch>
    <arg name="camera_calibration_path" default="$(find firo_calibration)/kalibr/camimu/inflated/camimu-camchain-imucam.yaml"/>
    <arg name="imu_frequency"         default="200.0" />
    <arg name="model" default="$(find firo_description)/robots/firo.urdf.xacro"/>
    <arg name="publish_frequency" default="100.0"/>
    <arg name="stereo_fps"            default="30"  />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model) calibration_path:='$(arg camera_calibration_path)' imu_frequency:='$(arg imu_frequency)' stereo_fps:='$(arg stereo_fps)'"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="$(arg publish_frequency)"/>
    </node>
</launch>